<%- include('./templates/header'); %>
<% let exercisesHTML = '<ul>'; %>
<% if (filteredExercises == "") { %>
    <% exercisesHTML += "<h3>Exercise not found</h3>"; %>
<% } else { %>
    <% exercisesHTML += filteredExercises.map(exercise => { %>
        <h3><%= exercise.name %></h3>
        <img src="/exercises/<%= exercise.images[0] %>" alt="<%= exercise.name %>">
        <p>Difficulty: <%= exercise.level %>, equipment: <%= exercise.equipment %></p>
        <p>Primary Muscles: <%= exercise.primaryMuscles %> 
            <% if (exercise.secondaryMuscles[0] != null) {%>
            , Accessory Muscles: <%= exercise.secondaryMuscles%>
            <% } %>
        </p>
        <p><%= exercise.instructions %></p>
    <% }).join(''); %>
<% } %>
<% exercisesHTML += '</ul>'; %>
<%- exercisesHTML %>
<%- include('./templates/footer'); %>
