<%- include('templates/header'); %>

<link rel="stylesheet" href="../public/css/homeAuthenticated.css">

<a href="/goals">
    <div class="rectangle box-shadow-3d" style="background-color: #EBB0D7; color: black; text-decoration: none;">
        Goals

        <% if (result && result.goal && result.goal.length > 0) { %>
            <% let hasGoals = false; %>
            <% result.goal.forEach((goal, index) => { %>
                <% if (goal[4]) { %>
                    <div class="progress-container<%= index %>">
                        <div class="progress">
                            <div class="progress-done progress-done<%= index %>"></div>
                        </div>
                        <div>
                            <h3><%= goal[2] %></h3>
                            <p><%= goal[3] %> <%= goal[1] %> / <%= goal[0] %> <%= goal[1] %> completed!</p>
                        </div>
                    </div>
                    <% hasGoals = true; %>
                <% } %>
            <% }); %>
            <% if (!hasGoals) { %>
                <h3>You have no tracked goals yet!</h3>
            <% } %>
        <% } else { %>
            <h3>You have no tracked goals yet!</h3>
        <% } %>
    </div>
</a>

<a href="/schedule">
    <div class="rectangle box-shadow-3d" style="background-color: #A8EEE1;">
        <p style="color: black;">Workout Plan</p>

        <div class="card" style="background-color: #71e4cf;">
            <div class="card-body">
                <h5 class="card-title">
                    <a style="font-size: 20pt; color: black;" href="/scheduleEditor/<%= currentDay %>"><%= currentDay; %></a>
                </h5>
                <ul class="list-group">
                    <% for (let j = 0; j < workoutNames[0][currentDay].length; j++) { 
                        if (workoutIDs.length == 0) { %>
                            <p>No workouts</p>
                        <% break;
                        } %>
                        <li class="list-group-item border border-dark rounded" style="background-color: #71e4cf; color: black; font-size: 15pt;">
                            <u><a style="color: black" href="/exercise/<%= workoutIDs[j].id %>"><%= workoutNames[0][currentDay][j] %></a></u>
                        </li><p></p>
                    <% } %>
                </ul>
            </div>
            <p></p>
        </div>
    </div>
</a>

<a href="/exercises">
    <div class="rectangle box-shadow-3d" style="background-color: #A8EEB3; color: black; text-decoration: none;">Exercises For You
        <br><br>
        <ul class="list-unstyled">
            <% exercisesInfo.forEach(exercise => { %>
                <li id="<%= exercise.name %>" class="mb-3 text-center">
                    <a href="/exercise/<%= exercise.id %>" class="text-decoration-none">
                        <div class="card" style="background-color: #8BD897; color: black; text-decoration: none;">
                            <div class="card-body">
                                <h3 class="card-title"><%= exercise.name %></h3>
                                <img src="/exercises/<%= exercise.images[0] %>" alt="<%= exercise.name %>" class="img-fluid mb-2">
                                <p class="card-text">Muscles: <%= exercise.primaryMuscles[0].charAt(0).toUpperCase() + exercise.primaryMuscles[0].slice(1) %><br>Difficulty: <%= exercise.level.charAt(0).toUpperCase() + exercise.level.slice(1) %></p>
                            </div>
                        </div>
                    </a>
                </li>
            <% }); %>
        </ul>
    </div>
</a>

<%- include('templates/footer'); %>

<script>
    const goals = <%- JSON.stringify(result.goal) %>;
</script>
<script src="../public/js/goalsHome.js"></script>
