<%-include('templates/header');%>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <h2 class="text-center">Weekly Workout Schedule</h2>
                <div class="scrolling-wrapper">
                    <%  for (let day in workouts[0]) {
                            if (workouts[0][day][0] == undefined) {
                                continue;
                            } 
                            let currentDay = '' + day; %>
                        <div class="card" style="font-size: larger;">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <%= currentDay; %>
                                </h5>
                                <ul>
                                    <% for (let j = 0; j < workouts[0][day].length; j++) { %>
                                        <li class="workoutList">
                                            <%= workouts[0][day][j] %>
                                        </li>
                                    <% } %>
                                </ul>
                            </div>
                            <form action="/scheduleEditor/<%=currentDay%>" method="get" style="margin: 5%;">
                                <button class="btn btn-primary">Edit</button>
                            </form>
                        </div><p></p>
                    <% } %><br>
                </div>
            </div>
        </div>
    </div>

    <!-- edit schedule -->
    <%-include('templates/footer');%>