<%-include('templates/header');%>
    <head>
        <!-- <style>
            /* Credit: ChatGPT
            Helped create a hotizontal scrolling feature 
            Custom CSS for horizontal scrolling */
            .scrolling-wrapper {
                overflow-x: auto;
                white-space: nowrap;
            }

            .card {
                display: inline-block;
                width: 150px;
                height: 400px;
                overflow-x: hidden;
                /* Adjust as needed */
                /*margin-right: 10px;*/
                /* Adjust as needed */
            }

            .workoutList {
                margin-left: -35px;
            }

            #newItem {
                width: 130px;
                margin-left: 15px;
            }
        </style> -->
    </head>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <h2>Weekly Workout Schedule</h2>
                <div class="scrolling-wrapper">
                    <%  for (let day in workouts[0]) {
                            if (workouts[0][day][0] == undefined) {
                                continue;
                            } 
                            let currentDay = '' + day; %>
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <%= currentDay; %>
                                </h5>
                                <ul>
                                    <% for (let j = 0; j < workouts[0][day].length; j++) { %>
                                        <li class="workoutList">
                                            <%= workouts[0][day][j] %>
                                        </li>
                                    <% } %>
                                </ul>
                            </div>
                            <form action="/scheduleEditor/<%=currentDay%>" method="get">
                                <button class="btn btn-outline-primary">Edit</button>
                            </form>
                        </div>
                    <% } %>
                </div>
            </div>
        </div>
    </div>

    <!-- edit schedule -->
    <%-include('templates/footer');%>